---
title: Index
---

<div class="row">&nbsp;</div>

  <div class="searchblock">
    <div class="row">
      <ul>
        <li class="selected"><a>All</a></li>
        <li><a href="/xtf/search?facet-entityType=person">Person</a></li>
        <li><a href="/xtf/search?facet-entityType=corporateBody">Corporate Body</a></li>
        <li><a href="/xtf/search?facet-entityType=family">Family</a></li>
      </ul>
    </div>

    <form methon="GET" action="/xtf/search" class="cpfSearch row">
      <div class="large-6 columns">
        <input id="userInput" type="text" size="27" 
          title="enter a name or keywords" placeholder="enter a name or keywords" name="text" value="" 
          class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
      </div>
      <div class="large-1 columns">
        <input class="button small" title="full text" type="submit" value="search">
      </div>
      <div class="large-4 columns">
      <label class="advancedSearch" title="Advanced Search" style="">
        <i>advanced</i>… limit to <a title="EAC tag library" class="noarrow" href="https://spreadsheets.google.com/pub?key=0AmlczcEUr8GxdGRjeEJ6S2tBU0lmMjlDaWZZdFNiQmc&amp;hl=en&amp;output=html">section</a>

        <select name="sectionType">
          <option value="" selected="selected">eac-cpf</option>
          <option value="control">&nbsp;&nbsp;control</option>
          <option value="cpfdescription" title="default" class="default" selected="selected">&nbsp;&nbsp;cpfDescription</option>
          <option value="identity">&nbsp;&nbsp;&nbsp;&nbsp;identity</option>
          <option value="description">&nbsp;&nbsp;&nbsp;&nbsp;description</option>
          <option value="existdates">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;existDates</option>
          <option value="bioghist">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;biogHist</option>
          <option value="generalcontext">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;generalContext</option>
          <option value="occupation">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;occupation</option>
          <option value="localdescription">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;localDescription</option>
          <option value="relation">&nbsp;&nbsp;&nbsp;&nbsp;relations</option>
          <option value="cpfrelation">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cpfRelation</option>
          <option value="resourcerelation">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;resourceRelation</option>
        </select>
       <script>
  $("label.advancedSearch").hide();
  $("form.cpfSearch").hoverIntent(function () {
    $("label.advancedSearch").css("display", "inline");
  }, function () {
    if ($("label.advancedSearch select").val() === 'cpfdescription') {
      $("label.advancedSearch").fadeOut();
    }
  });
        </script>
      </label>
      </div>
    </form>
  </div>
