---
title: All
---
<%= partial('searchblock', :locals => { :entity_type => @entity_type }) %>
<div class="row">
  <div data-alert class="alert-box alert round columns">
    This preview release has a limited set of test records
    <a href="#" class="close">&#215;</a>
  </div>
  <div data-alert class="alert-box alert round columns">
    URLs for records are not permanent
    <a href="#" class="close">&#215;</a>
  </div>
</div>
